body{
    background-color: rgba(196, 24, 24, 0.664);
    margin-left: auto;
    margin: 0 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container{
    border-radius: 70px;
    border: rgb(15, 15, 15);
    background-color: rgb(118, 118, 126);
    width: 300px;
    height: 400px;
    padding: 20px;
}

.output{
    background-color: rgba(14, 13, 13, 0.486);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 20px;

}

.button-grid{
    display: grid;
    margin-left: center;
    grid-template-columns: auto auto auto auto;
    margin: 30px all;
    height: 10px;
    
}

button{
    background: indianred;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.2s all;
    height: 60px;
    width: 60px;
    box-shadow: 2px 2px 10px black;
    font-size: 14px;
}
button:hover{
    opacity: 1;
    box-shadow: 0 0 10px yellow;

}

.clearButton{
    background: red;

}

.number{
    font-size: 19px;
    
}